<!-- Button trigger modal -->
<button class="btn btn-default"  (click)="openModal()">
    <i class="bi bi-info-square-fill"></i><img src="assets/images/view.png" alt="" width="20px">
</button>
    
<!-- Modal -->
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
          <div class="modal-content">
                <div class="modal-header">
                      <h4 class="modal-title" style="font-family: 'Comic Sans MS', 'Comic Sans', cursive;">Details Product</h4>
                      <button type="button" class="btn btn-default" aria-label="Close" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
                    </div>
                <div class="modal-body">
                    <template *ngTemplateOutlet="cardProduct"></template>
                </div>
                <div class="modal-footer">
                      <button type="button" class="btn btn-default" (click)="closeModal()" >Close</button>
                </div>
       </div>
    </div>
</div>

<!-- Card -->

<ng-template #cardProduct>

    <div class="card text-center m-auto" style="width: 18rem;">
        <img src={{products.imageart}} class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">{{products.prix}} TND</h6>
          <p class="card-subtitle mb-2 text-muted">{{products.designation}}</p>
          <p class="card-subtitle mb-2 text-muted">Quantity : {{products.qtestock}}</p>
        </div>
      </div>

</ng-template>
