
<div class="container">
    <div class="text-container">
        <p>Perfume is the art that makes memory speak</p>
    </div>
    <div class="image-container">
        <img src="assets/images/background.jpg" alt="Background Image">
    </div>
</div>
<div class="text-center">
    <div class="text-sales">
        <p>Our Best Sales</p>
    </div>
    <div class="row ">
      <div class="col-md-5">
          <div class="image-box mx-auto">
              <img src="assets/images/victoria.jpg" alt="" width="500px">
          </div>
      </div>
      <div class="col-md-4">
          <div class="image-box mx-auto">
              <img src="assets/images/elie.jpg" alt="" width="500px" >
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-5">
          <div class="image-box mx-auto">
              <img src="assets/images/miss.jpg" alt="" width="500px">
          </div>
          
      </div>
      <div class="col-md-4">
          <div class="image-box mx-auto">
              <img src="assets/images/chanel.jpg" alt="" width="500px">
          </div>
      </div>
  </div>
   
</div>
<div class="container">
    <div class="image-container">
        <img src="assets/images/collection.jpg" alt="Background Image">
    </div>
    <div class="text-container1">
        <p>No Elegance is possible without perfume. It is the unseen,unforgettable,ultimate accessory</p>
    </div>
   
</div>

